{% extends 'base.html' %}
{% load static class_tags %}

{% block title %}Page d'accueil{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.4/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <header class="hero uk-position-relative uk-visible-toggle uk-light" id="hero"
            uk-slideshow="autoplay: true; autoplay-interval: 4000; ratio: false">

        <ul class="uk-slideshow-items">

            {% if slides %}
                {% for slide in slides %}
                    <li>
                        <img data-src="{{ slide.image.large.url }}" class="lazy" alt="{{ slide.text }}" uk-cover>
                        <div class="uk-position-center uk-panel"><h1 style="padding: 20vh">{{ slide.text }}</h1></div>
                    </li>

                {% endfor %}
            {% else %}

                <li><img data-src="{% static 'img/home/basket.png' %}" class="lazy" alt="basket" uk-cover></li>
                <li><img data-src="{% static 'img/home/football.png' %}" class="lazy" alt="football" uk-cover></li>
                <li><img data-src="{% static 'img/home/golf.png' %}" class="lazy" alt="golf" uk-cover></li>
                <li><img data-src="{% static 'img/home/tennis.png' %}" class="lazy" alt="tennis" uk-cover></li>
                <li><img data-src="{% static 'img/home/skate.png' %}" class="lazy" alt="skate" uk-cover></li>
                <li><img data-src="{% static 'img/home/badminton.png' %}" class="lazy" alt="badminton" uk-cover></li>
            {% endif %}
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
           uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
           uk-slidenav-next uk-slideshow-item="next"></a>
        <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">

            {% if not slides %}
                <h1 class="uk-text-center" style="color: #f8f8f8">
                    <i uk-icon="icon: search; ratio: 2"></i> Je cherche un terrain de
                    <span class="txt-rotate"
                          data-period="2000"
                          data-rotate='[ "Basket", "Football", "Golf", "Tennis", "Skate" , "Badminton" ]'></span>
                </h1>

            {% endif %}
            <a href="#activities" class="uk-align-center uk-button uk-width-1-2@s button-orange"
               uk-scroll="offset:80">
                <span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>
                Afficher toutes les activités
            </a>
        </div>
    </header>

    <div class="black-separator"></div>

    {% include 'equipments/partial/activities.html' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/waypoints@4.0.1/lib/jquery.waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/waypoints@4.0.1/lib/shortcuts/infinite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.4/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
    <script>

        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#eaf7f7",
                        "text": "#5c7291"
                    },
                    "button": {
                        "background": "#56cbdb",
                        "text": "#ffffff"
                    }
                },
                "content": {
                    "message": "Ce site utilise des cookies pour vous assurer la meilleure expérience sur notre site.",
                    "dismiss": "Je comprends",
                    "link": "En savoir plus",
                    "href": "https://www.kojump.fr/legal/privacy-policy/"
                }
            })
        });

        // Lazy loading images slider
        var images = document.querySelectorAll(".lazy");
        var lazy = new lazyload(images);
        lazy.loadImages();

        $(document).ready(function () {
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.infinite-more-link').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.infinite-more-link').hide();
                }
            });
        });

        $('#id_activities').select2();
    </script>
{% endblock %}