{% extends 'base.html' %}
{% load static class_tags favorites_tags %}

{% block title %}{{ equipment.institution.label }} | {{ equipment.label }}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/fontello/css/fontello-embedded.css' %}">
    <style>
        .rate.stared > svg > polygon {
            fill: #f1c40f !important;
        }

        .subway {
            background: #F44336;
            color: #f8f8f8;
        }

        .bus {
            background: #3F51B5;
            color: #f8f8f8;
        }

        .tramway {
            background: #03a9f4;
            color: #f8f8f8;
        }

        .train {
            background: #ffc107;
            color: #f8f8f8;
        }

        .ship {
            background: #607D8B;
            color: #f8f8f8;
        }

        .cab {
            background: #8bc34a;
            color: #f8f8f8;
        }

        .non-actif {
            background: #e5e5e5 !important;
            color: #f8f8f8 !important;
        }

        .internet {
            background: #00bcd4;
            color: #f8f8f8;
        }

        dd {
            margin-top: 20px !important;
        }

        .uk-first-column {
            margin-top: 20px !important;
        }

        .wheelchair-alt {
            background: #00BCD4;
            color: #f8f8f8;
        }

        .asl-interpreting {
            background: #FF9800;
            color: #f8f8f8;
        }

        .low-vision {
            background: #4CAF50;
            color: #f8f8f8;
        }

        .like-widget {
            position: absolute;
            right: 30px;
            bottom: 30px;
        }

        .uk-grid-item-match, .uk-grid-match > * {
            display: unset !important;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

{% endblock %}

{% block content %}
    <header class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle details-hero"
            style="background-image: url('{% if equipment.cover %}{{ equipment.cover.url }}{% else %}{% static 'img/placeholder@l.png' %}{% endif %}')">
        <div class="uk-overlay uk-light uk-position-bottom uk-container">
            <input name="equipment-id" id="equipmentId" value="{{ equipment.pk }}" hidden>
            <div class="uk-grid uk-child-width-1-2@s">
                <div>
                    <h1 class="uk-article-title">{{ equipment.institution.label }}</h1>
                    <h2 class="">{{ equipment.label }}</h2>

                    <div id="description">
                        {% if equipment.description %}
                            <h3>Description</h3>
                            <p class="uk-text-justify">{{ equipment.description }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                    <div style="height: 56px">
                        {% favorite_widget for equipment %}
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <section class="uk-container elements-details">

        <ul class="uk-nav uk-nav-default uk-hidden@m">
            <li class="uk-nav-divider"></li>
            <li class="uk-margin-top">
                <dl class="uk-description-list uk-text-muted">
                    {% if equipment.institution.street_number %}
                        <dt style="margin-top: 5px">Num. Rue</dt>
                        <dd style="margin-top: 5px !important;">{{ equipment.institution.street_number }}</dd>
                    {% endif %}
                    {% if equipment.institution.street_name %}
                        <dt style="margin-top: 5px">Nom de la Rue</dt>
                        <dd style="margin-top: 5px !important">{{ equipment.institution.street_name }}</dd>
                    {% endif %}
                    {% if equipment.institution.postal_code %}
                        <dt style="margin-top: 5px">Code Postal</dt>
                        <dd style="margin-top: 5px !important">{{ equipment.institution.postal_code }}</dd>
                    {% endif %}
                    {% if equipment.institution.commune %}
                        <dt style="margin-top: 5px">Commune</dt>
                        <dd style="margin-top: 5px !important">{{ equipment.institution.commune.label }}</dd>
                    {% endif %}
                    <dt style="margin-top: 5px !important;">Est public ?</dt>

                    <dd style="margin-top: 5px !important;">{% if equipment.is_public %}Etablissement non
                        public{% else %}Etablissement privé{% endif %}</dd>
                    <dt style="margin-top: 5px !important;">Prix</dt>
                    <dd style="margin-top: 5px !important;">
                        {% if equipment.price %}{{ price }}{% else %}Aucun prix spécifié{% endif %}</dd>

                </dl>
            </li>

        </ul>
        <div uk-grid>
            <div class="uk-width-expand" style="margin-top: 0 !important;">
                <article class="uk-article uk-margin-bottom">
                    <div id="services">
                        <h3>Activités sportives</h3>

                        <div class="uk-margin-top card-grid uk-grid-small uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m
        uk-child-width-1-5@xl" uk-grid>
                            {% for activity in activities %}
                                <div class="uk-grid-item-match" style="margin-top: 20px !important; display: contents">
                                    <a class="card-element" href="{{ activity.get_absolute_url }}">
                                        <div class="uk-card uk-card-default uk-card-hover">
                                            <div class="uk-card-media-top">
                                                {% if activity.image %}
                                                    <img class="lazy" src="{{ activity.image.url }}"
                                                         alt="{{ activity.slug }}">
                                                {% else %}
                                                    <img class="lazy" src="{% static 'img/placeholder.png' %}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="uk-card-body" style="padding: 20px !important;">
                                                <h3 class="uk-card-title" style="line-height: 1; font-size: 1.1rem">
                                                    <a href="{{ activity.get_absolute_url }}">{{ activity.label }}</a>
                                                </h3>
                                                {% if activity.description %}
                                                    <p style="font-size: 12px">{{ activity.description }}</p>
                                                {% endif %}
                                                <div style="font-size: 12px; margin-top: 8px">Disciplines</div>
                                                <ul style="margin-top: 0 !important;">
                                                    {% for D in activity.sports_disciplines.all %}
                                                        {% if D in equipment.disciplines.all %}
                                                            <li style="font-size: 12px">{{ D.label }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                        <dl class="uk-description-list uk-child-width-1-2@m" uk-grid>
                            <dt>Accéssible aux personnes aux besoins spécifiques ?</dt>
                            <dd class="icons-container">
                                <span class="uk-icon-button wheelchair-alt {% if not equipment.is_accessible_for_hand_m %}non-actif{% endif %}"
                                      title="mobilité réduite" uk-tooltip><i class="icon-wheelchair-alt"></i></span>
                                <span class="uk-icon-button asl-interpreting {% if not equipment.is_accessible_for_hand_s %}non-actif{% endif %}"
                                      title="sensoriel" uk-tooltip><i class="icon-asl-interpreting"></i></span>
                                <span class="uk-icon-button low-vision {% if not equipment.is_accessible_for_hand_s %}non-actif{% endif %}"
                                      title="sensoriel" uk-tooltip><i class="icon-low-vision"></i></span>
                            </dd>
                        </dl>
                    </div>
                    <hr class="uk-divider-icon">
                    <div class="uk-hidden@m">
                        <dl class="uk-description-list uk-margin-bottom">

                            <div style="margin-top: 0 !important;">
                                <dt>Note globale</dt>
                                <dd style="margin-top: 0 !important;">
                                    {% for i in "x"|ljust:"5" %}
                                        <span class="global-star-rating rate {% if forloop.counter0 < equipment.global_rate %}
                                                stared
                                            {% endif %}"
                                              uk-icon="icon: star; preserve: false"
                                              style="color: #f1c40f"></span>
                                    {% endfor %}
                                </dd>
                            </div>
                            <div>
                                <dt>Hygiène</dt>
                                <dd style="margin-top: 0 !important;">
                                    {% for i in "x"|ljust:"5" %}
                                        <span class="global-star-rating rate {% if forloop.counter0 < equipment.hygiene_rate %}
                                                stared
                                            {% endif %}"
                                              uk-icon="icon: star; preserve: false"
                                              style="color: #f1c40f"></span>
                                    {% endfor %}
                                </dd>
                            </div>
                            <div>
                                <dt>Services</dt>
                                <dd style="margin-top: 0 !important;">
                                    {% for i in "x"|ljust:"5" %}
                                        <span class="global-star-rating rate {% if forloop.counter0 < equipment.services_rate %}
                                                stared
                                            {% endif %}"
                                              uk-icon="icon: star; preserve: false"
                                              style="color: #f1c40f"></span>
                                    {% endfor %}
                                </dd>
                            </div>
                            <div>
                                <dt>Equipements</dt>
                                <dd style="margin-top: 0 !important;">
                                    {% for i in "x"|ljust:"5" %}
                                        <span class="global-star-rating rate {% if forloop.counter0 < equipment.equipments_rate %}
                                                stared
                                            {% endif %}"
                                              uk-icon="icon: star; preserve: false"
                                              style="color: #f1c40f"></span>
                                    {% endfor %}
                                </dd>
                            </div>

                        </dl>
                    </div>
                    <hr class="uk-divider-icon uk-hidden@m">

                    <div class="institutions-images" id="imgSlider" style="height: 280px">
                        <h3>Photos</h3>
                        <div uk-slider="autoplay: true; center: true">
                            <ul class="uk-slider-items" uk-lightbox="animation: slide">
                                {% if equipment.medias.all %}
                                    {% for attachment in equipment.medias.all %}
                                        <li class="img-slide">
                                            <a class="uk-inline" href="{{ attachment.image.url }}"
                                               caption="{{ institution.label }}">
                                                <img src="{{ attachment.image.url }}"
                                                     alt="{{ institution.label }}" style="height: 220px">
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="img-slide" uk-lightbox="animation: slide">
                                        <a class="uk-inline" href="{% static 'img/Image-non-disponible.png' %}"
                                           caption="{{ institution.label }}">
                                            <img src="{% static 'img/Image-non-disponible.png' %}"
                                                 alt="{{ institution.label }}"
                                                 style="height: 220px">
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div>
                            <h4>Ajouter des photos</h4>
                            <form id="add-photos"
                                  action="{% url 'equipments:equipment_photo_upload_view' equipment.pk %}"
                                  class="dropzone">
                                {% csrf_token %}
                            </form>
                        </div>
                    {% endif %}
                    <hr class="uk-divider-icon">
                    <div id="comments">
                        <h3>Commentaires et appréciation</h3>
                        {% if user.is_authenticated %}

                            <dl class="uk-description-list uk-child-width-1-2@m uk-child-width-1-4@l uk-margin-bottom"
                                uk-grid>

                                <div style="margin-top: 0 !important;">
                                    <dt>Note globale</dt>
                                    <dd>
                            <span class="global-rate">
                              <span class="global-star" uk-icon="icon: star; preserve: false"
                                    style="color: #f1c40f"></span>
                            </span>
                                    </dd>
                                </div>

                                <div>
                                    <dt>Hygiène</dt>
                                    <dd>
                            <span class="hygiene-rate">
                              <span class="hygiene-star" uk-icon="icon: star; preserve: false"
                                    style="color: #f1c40f"></span>
                            </span>
                                    </dd>
                                </div>

                                <div>
                                    <dt>Services</dt>
                                    <dd>
                            <span class="services-rate">
                              <span class="services-star" uk-icon="icon: star; preserve: false"
                                    style="color: #f1c40f"></span>
                            </span>
                                    </dd>
                                </div>

                                <div>
                                    <dt>Equipements</dt>
                                    <dd>
                            <span class="equipments-rate">
                              <span class="equipments-star" uk-icon="icon: star; preserve: false"
                                    style="color: #f1c40f"></span>
                            </span>
                                    </dd>
                                </div>

                            </dl>

                            <form action="" method="post" id="comment-form">
                                <input type="number" min="0" max="5" id="global-rate" name="global-rate" hidden>
                                <input type="number" min="0" max="5" id="hygiene-rate" name="hygiene-rate" hidden>
                                <input type="number" min="0" max="5" id="services-rate" name="services-rate" hidden>
                                <input type="number" min="0" max="5" id="equipments-rate" name="equipments-rate" hidden>
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        {% csrf_token %}
                                        {{ form_comment.comment|addClass:'uk-textarea' }}
                                    </div>

                                    <div class="uk-margin">
                                        <input class="uk-button button-orange" type="submit" value="Ajouter">
                                    </div>

                                </fieldset>
                            </form>

                        {% else %}
                            <div><a href="{% url 'accounts:register' %}">Inscrivez-vous</a> afin de pouvoir nous donner
                                votre avis.
                            </div>
                        {% endif %}

                        {% if equipment.comments.all %}
                            {% for comment in equipment.comments.all %}
                                <div class="uk-divider-icon"></div>
                                <article class="uk-comment">
                                    <header class="uk-comment-header uk-flex-middle uk-margin-remove-bottom">
                                        <div class="">
                                            <h4 class="uk-comment-title uk-margin-remove">
                                                <a class="uk-link-reset" href="#">{{ comment.publisher }}</a>
                                            </h4>
                                            <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                                                <li><a href="#">{{ comment.created_at }}</a></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p class="">{{ comment }}</p>
                                    </div>
                                </article>
                            {% endfor %}
                        {% else %}
                            <div class="uk-divider-icon"></div>
                            <p>Soyer le premier à donner votre avis...</p>
                            <div class="uk-divider-icon"></div>
                        {% endif %}

                    </div>
                </article>
            </div>

            <div class="uk-width-1-5@m uk-visible@m" data-sticky-container id="sticky-nav">
                <div>
                    <dl class="uk-description-list uk-margin-bottom">

                        <div style="margin-top: 0 !important;">
                            <dt>Note globale</dt>
                            <dd style="margin-top: 0 !important;">
                                {% for i in "x"|ljust:"5" %}
                                    <span class="global-star-rating rate {% if forloop.counter0 < equipment.global_rate %}
                                                stared
                                            {% endif %}"
                                          uk-icon="icon: star; preserve: false"
                                          style="color: #f1c40f"></span>
                                {% endfor %}
                            </dd>
                        </div>
                        <div>
                            <dt>Hygiène</dt>
                            <dd style="margin-top: 0 !important;">
                                {% for i in "x"|ljust:"5" %}
                                    <span class="global-star-rating rate {% if forloop.counter0 < equipment.hygiene_rate %}
                                                stared
                                            {% endif %}"
                                          uk-icon="icon: star; preserve: false"
                                          style="color: #f1c40f"></span>
                                {% endfor %}
                            </dd>
                        </div>
                        <div>
                            <dt>Services</dt>
                            <dd style="margin-top: 0 !important;">
                                {% for i in "x"|ljust:"5" %}
                                    <span class="global-star-rating rate {% if forloop.counter0 < equipment.services_rate %}
                                                stared
                                            {% endif %}"
                                          uk-icon="icon: star; preserve: false"
                                          style="color: #f1c40f"></span>
                                {% endfor %}
                            </dd>
                        </div>
                        <div>
                            <dt>Equipements</dt>
                            <dd style="margin-top: 0 !important;">
                                {% for i in "x"|ljust:"5" %}
                                    <span class="global-star-rating rate {% if forloop.counter0 < equipment.equipments_rate %}
                                                stared
                                            {% endif %}"
                                          uk-icon="icon: star; preserve: false"
                                          style="color: #f1c40f"></span>
                                {% endfor %}
                            </dd>
                        </div>

                    </dl>
                </div>
                <ul class="uk-nav uk-nav-default" data-sticky data-margin-top="80">
                    <li class="uk-nav-divider"></li>
                    <li><a href="#description" uk-scroll="offset:120"><span class="uk-margin-small-right"
                                                                            uk-icon="icon: info"></span>
                        Informations</a>
                    </li>
                    <li><a href="#imgSlider" uk-scroll="offset:120"><span class="uk-margin-small-right"
                                                                          uk-icon="icon: image"></span> Photos</a></li>
                    <li><a href="#comments" uk-scroll="offset:120"><span class="uk-margin-small-right"
                                                                         uk-icon="icon: comment"></span>
                        Commentaires</a>
                    </li>

                    <li class="uk-nav-divider"></li>
                    <li class="uk-margin-top">
                        <dl class="uk-description-list uk-text-muted">
                            {% if equipment.institution.street_number %}
                                <dt style="margin-top: 5px">Num. Rue</dt>
                                <dd style="margin-top: 5px !important;">{{ equipment.institution.street_number }}</dd>
                            {% endif %}
                            {% if equipment.institution.street_name %}
                                <dt style="margin-top: 5px">Nom de la Rue</dt>
                                <dd style="margin-top: 5px !important">{{ equipment.institution.street_name }}</dd>
                            {% endif %}
                            {% if equipment.institution.postal_code %}
                                <dt style="margin-top: 5px">Code Postal</dt>
                                <dd style="margin-top: 5px !important">{{ equipment.institution.postal_code }}</dd>
                            {% endif %}
                            {% if equipment.institution.commune %}
                                <dt style="margin-top: 5px">Commune</dt>
                                <dd style="margin-top: 5px !important">{{ equipment.institution.commune.label }}</dd>
                            {% endif %}
                            <dt style="margin-top: 5px !important;">Est public ?</dt>

                            <dd style="margin-top: 5px !important;">{% if equipment.is_public %}Etablissement non
                                public{% else %}Etablissement privé{% endif %}</dd>
                            <dt style="margin-top: 5px !important;">Prix</dt>
                            <dd style="margin-top: 5px !important;">
                                {% if equipment.price %}{{ price }}{% else %}Aucun prix spécifié{% endif %}</dd>

                        </dl>
                    </li>

                </ul>
            </div>

        </div>

    </section>
    <div class="orange-separator"></div>
{% endblock %}