{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Mes lieux favories{% endblock %}

{% block content %}
    <section class="uk-section uk-container uk-background-muted"
             style="min-height: calc(100vh - 80px); padding-top: 40px; padding-bottom: 40px">
        <h2>Mes lieux favories</h2>
        <hr>
        <div class=" uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-match uk-grid-small" uk-grid>
            {% for institution in institution_list %}

                <div class="card-fav">
                    <a class="uk-card uk-card-default uk-card-hover" href="{{ institution.get_absolute_url }}">
                        <div class="uk-card-media-top">
                            {% if institution.cover %}
                                <img class="lazy" src="{{ institution.cover.url }}" alt="{{ institution.slug }}">
                            {% else %}
                                <img class="lazy" src="{% static 'img/placeholder.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="uk-card-body" style="padding: 20px">
                            <h3 class="uk-card-title">
                                <a href="{{ institution.get_absolute_url }}">{{ institution.label }}</a>
                            </h3>
                            <small>{{ institution.address }}</small>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </section>

{% endblock %}