.progress-bar {
    width: 100%;
    height: 3px;
    background: rgba(255, 152, 0, 0.8);
    overflow: hidden;
    position: fixed;
    top: 80px;
    z-index: 500;
}

.progress-bar:after {
    top: 0;
    left: -30%;
    content: "";
    position: relative;
    display: block;
    width: 40%;
    height: 3px;
    background: linear-gradient(to left, rgba(255, 152, 0, 0.8), rgba(255, 78, 0, 0.8), rgba(255, 152, 0, 0.8));
    animation: progress-bar-indeterminate 2s ease-out infinite;
}

@keyframes progress-bar-indeterminate {
    from {
        left: -30%;
    }
    to {
        left: 100%;
    }
}

