{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <div>
        {{ object.content|safe }}
    </div>
{% endblock content %}