@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

$color-black: #222;
$color-grey: #9e9e9e;
$color-white: #f2f2f2;
$color-orange-dark: #ff4e00;
$color-orange-light: #fd7134;

$height-full: calc(100vh - 80px);

html, body {
  height: 100%;
  background-color: #f8f8f8;
}

a:hover {
  text-decoration: none;
}

.uk-offcanvas-bar {
  background: $color-white;
  a {
    color: $color-grey !important;
  }
}

#address-input {
  width: 250px;
}

.black-separator {
  width: 100%;
  height: 10px;
  background: $color-black;
}

.orange-separator {
  width: 100%;
  height: 10px;
  background: $color-orange-dark;
}

/* algolia plugin footer */
.ap-footer {
  display: none;
}

.button-orange {
  background: $color-orange-dark;
  color: $color-white;
  &:hover, &::selection {
    background: $color-orange-light;
    color: $color-white;
  }
}

.navbar {
  .navbar-logo {
    height: 70%;
  }
}

.hero {
  min-height: $height-full;
  ul, li, img {
    height: calc(100vh - 80px);
    // filter: contrast(1.1) saturate(1.2) brightness(.9);
  }
  img {
    filter: contrast(1.1) saturate(1.2) brightness(.9);
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid $color-grey
  }
  .hero-text {
    bottom: 17vh;
    right: 0;
    left: 0;
    h1 {
      color: $color-white;
    }
  }
  .hero-btn {
    bottom: 5vh;
    right: 0;
    left: 0
  }
}

.card-container {
  // @extend .uk-background-muted;
  .card-grid {
    // @extend .uk-grid-small;
    margin: 30px 0 !important;
    .card-element {
      h3 {
        margin-bottom: 10px;
        a {
          color: $color-orange-dark;
          &:hover, &::selection {
            color: $color-orange-light;
          }
        }
      }
      p {
        margin-top: 10px;
        font-size: .9rem;
        text-align: justify;
      }
    }
  }
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $color-orange-dark;
}

footer {
  background: $color-black;
  a {
    color: $color-grey;
    &:hover {
      color: $color-white;
    }
  }
}

.twitter-icon {
  color: #1da1f2;
}

.facebook-icon {
  color: #3b5998;
}

.google-icon {
  color: #db4437;
}

.copyright {
  background: $color-black;
  .container {
    padding: 5px 10%;
    p, a, span {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
    }
    a {
      color: #e5e50c;
    }
    p {
      color: $color-white;
    }
  }
}

// Login page
.centred-container {
  min-height: $height-full;
}

.link {
  text-transform: lowercase;
  font-size: .9rem;
}

.ui-menu {
  background: $color-white;
  list-style-type: none;
  width: 80%;
  padding: 0;
  li {
    margin: 10px;
    background: $color-white;
    &:hover {
      background: $color-orange-dark;
      color: $color-white;
    }
  }
}

.details-hero {
  min-height: 30vh;
}

.details-activity-hero {
  min-height: 30vh;
  height: auto;
}

.elements-details {
  padding-top: 30px;
  padding-bottom: 30px;
}

.map-elements {
  min-height: $height-full;
  margin: 20px 0 !important;
}

.map-elements-container {
  padding-right: 15px;
}

.map-container {
  padding: 0;
  height: $height-full;
  #map {
    height: $height-full;
  }
}

.visibleDiv, #map-control {
  position: fixed;
  vertical-align: middle;
  background: $color-orange-dark;
  color: $color-white;
  text-align: center;
}

#map-control {
  bottom: 10px;
  left: 57%;
  transform: translateX(-43%);
  display: none;
  z-index: 1000;
  #toggle-map, #toggle-elements {
    color: $color-white;
  }
  #toggle-map {
    display: none;
  }
}

.uk-card-body {
  h1, h2, h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
  }
}

#main-equipment {
  padding: 20px;
  margin: 10px;
}

.img-slide {
  margin: 10px;
}

.ap-input-icon svg {
  fill: $color-orange-dark;
}

.leaflet-bottom, .leaflet-top {
  z-index: 100 !important;
}

.favorite-active {
  color: rgba(#f44336, .1) !important;
  svg {
    path {
      fill: #f44336;
    }
  }
}

.card-fav {
  .uk-card-title {
    color: $color-orange-dark !important;
    font-size: 1.1rem;
    line-height: 1.2;
    a {
      color: $color-orange-dark !important;
    }
  }
}

.uk-navbar-dropdown {
  width: 250px;
}

.img-slide {
  text-align: center;
}

h1, h2, h3, h4, p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.uk-section {
  padding-top: 30px !important;
}

.off-form {
  .ap-name, em, input {
    color: #0b0b0b !important;
  }
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0b0b0b !important;
    opacity: .5; /* Firefox */
  }
}