{% load static class_tags %}
<!-- card view -->
<div class="card-container uk-background-muted" id="activities">
    <div class="uk-container">
        <div class="card-grid uk-grid-small uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m
        uk-child-width-1-5@xl infinite-container" uk-grid>

            <div class="uk-width-1-1">
                <form method="get" action="{% url 'equipments:search' %}">
                    {{ form_activities.activities|addClass:"search-sport-input uk-select" }}
                    <input name="previous" type="text" value="{{ request.path }}" hidden>
                    <div class="uk-margin-top">
                        <button class="uk-button uk-button-secondary search-sport-button">Rechercher</button>
                    </div>
                </form>
            </div>

            {% for activity in activity_list %}
                <div class="card-element infinite-item">
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                                <a href="{{ activity.get_absolute_url }}">
                            {% if activity.image %}
                                <img class="lazy" src="{{ activity.image.url }}" alt="{{ activity.slug }}">
                            {% else %}
                                <img class="lazy" src="{% static 'img/placeholder.png' %}" alt="">
                            {% endif %}
                            </a>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">
                                <a href="{{ activity.get_absolute_url }}">{{ activity.label }}</a>
                            </h3>
                            {% if activity.description %}
                                <p>{{ activity.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- -->
        </div>
    </div>
</div>
{% if page_obj.has_next %}
    <a class="infinite-more-link" href="{% url 'activities' page_obj.next_page_number %}" uk-spinner></a>
{% endif %}
<!-- /card view -->