{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <article class="uk-article uk-container uk-margin-top uk-margin-large-bottom">

        <h1 class="uk-article-title" id="title">{{ object.title }}</h1>
        {{ object.content }}

    </article>
{% endblock %}
