{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    Mentions légales
{% endblock %}

{% block content %}
    <article class="uk-article uk-container uk-margin-top uk-margin-large-bottom">

        <h1 class="uk-article-title" id="title">Mentions légales</h1>

        <p style="text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex erat, molestie eget elit non, consectetur
            efficitur mauris. Pellentesque pharetra nibh augue, ac dictum ex aliquam a. Nulla cursus ante nulla, nec
            molestie magna ultrices eu. Quisque vel tellus orci. Aliquam auctor sollicitudin sapien et malesuada. Nulla
            facilisi. Nulla dignissim euismod dolor non ullamcorper. Ut nec porttitor urna. Suspendisse in dapibus nisi,
            in fermentum est. Pellentesque elementum ante non nisi aliquam malesuada. Maecenas sem nisl, consectetur
            eget felis non, egestas vestibulum ligula. Donec venenatis lobortis justo, nec maximus tellus efficitur
            vitae. Vivamus efficitur velit sem, vel condimentum urna fermentum id. Sed condimentum eleifend leo,
            ultricies ullamcorper orci volutpat vel. Etiam iaculis libero neque, sed faucibus tortor mattis et.
        </p>
        <p style="text-align: justify">
            Nullam malesuada mauris nec est ultricies, vel lobortis orci volutpat. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Suspendisse tempor, tortor at molestie tempus, magna mi cursus nisl, at iaculis
            arcu augue eu erat. Sed mollis odio vel elementum scelerisque. Sed consectetur efficitur augue, quis
            volutpat lorem rutrum rhoncus. Fusce aliquet aliquet eros, eget imperdiet risus pellentesque et. Phasellus
            pharetra massa at semper feugiat. Etiam ut lacus nibh. Sed feugiat, enim consectetur consequat efficitur,
            massa ipsum feugiat enim, sit amet porta nisl ante in metus. Cras ante justo, tincidunt id vulputate vitae,
            tempus in neque. Vivamus eget porta odio. Suspendisse vestibulum quis tortor ornare congue.
        </p>
        <p style="text-align: justify">
            Vivamus sed libero ex. Ut in nulla rutrum, molestie orci non, semper metus. Nunc auctor magna quis dictum
            placerat. Sed consectetur vel sem eu auctor. Mauris ut odio rhoncus, ultrices ante sit amet, semper erat.
            Mauris maximus venenatis dui auctor tincidunt. Proin felis mi, pulvinar sit amet tellus vel, scelerisque
            efficitur dolor. Ut suscipit magna elementum faucibus rhoncus. Nam blandit nec augue quis maximus. Integer
            eget tellus nec dui tempus convallis. Nam quam nisl, dignissim et lectus vel, efficitur placerat odio. Nam
            quis ullamcorper lorem, at commodo justo. Nulla vitae magna auctor, ullamcorper ante sed, maximus eros.
            Nullam volutpat neque erat, vehicula dapibus erat malesuada non. Vivamus blandit, erat sit amet efficitur
            rhoncus, purus nibh bibendum purus, sed interdum ex nunc eu elit.
        </p>
        <p style="text-align: justify">
            Phasellus nisi lacus, blandit in iaculis at, consectetur ut nulla. Morbi vestibulum eros eget mauris
            blandit, sit amet faucibus leo varius. Pellentesque sed accumsan magna, a sagittis eros. Mauris placerat
            ligula odio, ut varius lorem imperdiet vel. Aenean dignissim neque in sem blandit placerat. Pellentesque
            vitae nisl et justo placerat dictum. Vivamus mauris ex, rhoncus a elementum id, malesuada non turpis.
            Praesent et ligula id purus mollis commodo vel ultricies sem. Vivamus tincidunt ullamcorper felis, sed
            viverra risus viverra sit amet. Donec cursus lorem libero, at varius nulla dignissim id. Nullam justo eros,
            ullamcorper et purus gravida, vehicula sollicitudin ex. Vivamus at condimentum sapien. Ut pulvinar sapien a
            congue egestas. Vestibulum auctor tortor sed convallis accumsan. Donec eget arcu at mi lobortis laoreet.
        </p>
        <p style="text-align: justify">
            Etiam ut suscipit lectus, eget pellentesque purus. Aenean viverra lorem nec condimentum dapibus. Suspendisse
            arcu felis, commodo non turpis id, tempor elementum eros. Ut consequat enim cursus ligula imperdiet
            condimentum. Mauris lacinia turpis vestibulum, tincidunt nisi in, pharetra nisi. Integer tristique vulputate
            est et luctus. Nam commodo mattis elit vel lacinia. Etiam ornare, mi nec tincidunt ullamcorper, lectus nibh
            posuere lacus, sit amet ultricies purus enim eget eros. Nullam tincidunt, odio eu luctus suscipit, elit nisl
            tempor nunc, et fermentum erat tortor eu metus. Curabitur quis dui malesuada elit sagittis posuere id in
            est.
        </p>

    </article>
{% endblock %}
