{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    A propos de nous
{% endblock %}

{% block content %}
    <article class="uk-article uk-container uk-margin-top uk-margin-bottom">

        <h1 class="uk-article-title" id="title">{{ object.title }}</h1>

        {{ object.content }}

        <h2 class="uk-article-title">L'équipe</h2>
        <div class="uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
            {% for member in teams %}
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ member.card_image.thumbnail.url }}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ member.title }}</h3>
                            {{ member.content|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </article>
{% endblock %}
