{% extends "base.html" %}
{% load class_tags %}

{% block title %}Formulaire{% endblock title %}

{% block content %}
    <div class="uk-container">
    {% block form %}
        <form class="" role="form" action="" id="fomul" method="post">
            {% csrf_token %}
            {% for field in user_form %}
                {% for error in field.errors %}
                    <p class="uk-text-danger">{{ error }}</p>
                {% endfor %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">{{ field.label }}</label>
                    <div class="uk-form-controls">
                        {{ field|addClass:"" }}
                    </div>
                </div>
                {% if field.help_text %}
                    <small>{{ field.help_text|safe }}</small>
                {% endif %}
            {% endfor %}

        {{ profile_form.as_p }}

            <div class="uk-margin-top">
                <input class="uk-button button-orange" type="submit" name="submit" value="valider">
            </div>
        </form>
    {% endblock form %}
    </div>
{% endblock %}
